image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Build and Test'
          script:
            - echo "Your build and test goes here..."
  branches:
    main:
      - step:
          name: "Sync with github"
          deployment: Production
          script:
             - git push --mirror git@github.com:DavidHoenisch/ForwardMetrics.git