image: atlassian/default-image:3

pipelines:
  default:
    - parallel:
      - step:
          name: 'Build and Test'
          script:
            - pipe: atlassian/git-secrets-scan:0.6.1
  branches:
    main:
      - step:
          name: "Sync with github"
          deployment: Production
          script:
             - git push --mirror git@github.com:DavidHoenisch/ForwardMetrics.git
