<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docs</title>
</head>
<body>
    <div id="toc_container">
        <h1>Table of Contents</h1>
        <ul class="toc_list">
          <li><a href="#First_Point_Header">1 First Point Header</a>
          <ul>
            <li><a href="#First_Sub_Point_1">1.1 First Sub Point 1</a></li>
            <li><a href="#First_Sub_Point_2">1.2 First Sub Point 2</a></li>
          </ul>
        </li>
        <li><a href="#Second_Point_Header">2 Second Point Header</a></li>
        <li><a href="#Third_Point_Header">3 Third Point Header</a></li>
        </ul>
    </div>
</body>
</html>
