<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Forward Metrics App"/>
    <title id="title">Home</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <header>
        <!-- Main Logo on Navbar -->
        <img src="../static/images/forward-logo-text-black-white.png" alt="logo" id="header-logo"/>
        <nav id="navbar">
            <!-- Navbar Buttons -->
            <ul class="navlist">
                <li>Home</li>
                <li>Features</li>
                <li>About</li>
                <li>Login</li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- Hero Img -->
        <section id="hero-img">    
            <div>
                <img src="../static/images/Hero-image2.jpg" alt="header img" id="header-img"/>
                    <p class="hero-logo2" id="headertag">Investment Tracking and Forcasting Enhanced</p>
                    <p class="hero-logo2" id="headerparagraph">Data and Tracking to Power Up your Portfolio</p>
            </div>
        </section>
        <!-- Example App + Short Descriptor -->
        <section>
        <div>
            <h1></h1>
            <p></p>
            <div class="tradingview-widget-container">
                <div id="tradingview_92fc5"></div>
                <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/BTCUSDT/?exchange=BINANCE" rel="noopener" target="_blank"><span class="blue-text">BTCUSDT Chart</span></a> by TradingView</div>
                <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                <script type="text/javascript">
                new TradingView.widget(
                {
                "autosize": false,
                "symbol": "BINANCE:BTCUSDT",
                "interval": "D",
                "timezone": "Etc/UTC",
                "theme": "dark",
                "style": "1",
                "locale": "en",
                "toolbar_bg": "#f1f3f6",
                "enable_publishing": false,
                "allow_symbol_change": true,
                "container_id": "tradingview_92fc5"
            }
                );
                </script>
            </div> 
        </div>
        </section>
        <!-- Features Section -->
        <section>
            <div>
                <h1></h1>
                <p></p>
            </div>
            <div>
                <div>
                    <img>
                    <h2></h2>
                    <p></p>
                </div>
                <div>
                    <img>
                    <h2></h2>
                    <p></p>
                </div>
                <div>
                    <img>
                    <h2></h2>
                    <p></p>
                </div>
            </div>
            <div>
                <div>
                    <img>
                    <h2></h2>
                    <p></p>
                </div>
                <div>
                    <img>
                    <h2></h2>
                    <p></p>
                </div>
                <div>
                    <img>
                    <h2></h2>
                    <p></p>
                </div>
            </div>
        </section>
        <!-- Long Descriptor -->
        <section>
            <div></div>
            <div>
                <div></div>
                <div>
                    <p></p>
                    <!-- button -->
                </div>
            </div>
            <div></div>
        </section>
        <!-- Get Started -->
        <section>
            <div>
                <h1></h1>
                <p></p>
                <!-- buttons -->
            </div>
        </section>
        <!-- Footer -->
        <section>
           <div>
            <!-- logo -->
            <!-- contact email -->
           </div> 
           <div>
            <a></a>
            <a></a>
            <a></a>
            <a></a>
            <!-- button -->
           </div>
           <div>
            <p>Recieve Updates</p>
            <p>Email</p>
            <!-- textfield -->
            <!-- submit button -->
           </div>
           <div>
            <p>Follow Us On</p>
            <!-- Socials Buttons -->
           </div>
        </section>
    </main>
</body>
</html>