<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>  
        <div style="text-align:center">
            <h1>Prophet Dashboard</h1>
        </div>     
        <div>
            <h2>Live data</h2>
            <form id="API-Configuration" method="POST">
                <label for="ticker">Ticker:</label><br>
                <input type="text" id="ticker" name="ticker"><br>
                <label for="timeframe">Timespan</label><br>
                <input type="text" id="timespace" name="timespan"><br>
                <br>
                <input type="submit" name="Submit" id="submit_button"><br>
            </form>
        </div> 
        <div>
            <h2>File upload</h2>
            <form id="FileUploadConfiguration" method="POST" enctype=multipart/form-data>
                <input type="file" name="file" id="file"><br>
                <br>
                <input type="number" name="periods" id="periods"><br>
                <br>
                <input type=submit value=Upload> 
            </form>
        </div>
        <div>
            <h2>
                File Download
            </h2>
            <p>
                <a href="{{ url_for('user_dash.downloads') }}">Download</a>
            </p>
        </div>
    </body>
</html>