/* Removal of horizontal scroll bar */
* {
    overflow-x: hidden;
}

body {
    width: 100%;
    margin: 0px;
}

/* Making the Stocks Adapt to window size */
.tradingview-widget-container {
    width: 100%;
    
}

/* Header sizing and sticky placement */
header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    overflow-y: hidden;
}

/* Placement and Styling of Nav Buttons */
nav {
    height: 50px;
}

nav > ul {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}

nav > ul > li {
    color: white;
    padding: 0.2rem;
    margin: 0 0.2rem;
    display: block;
    padding-right: 30px;
}

/* Hero Img Placement*/
#hero-img {
    width: 100%;
    max-height:800px;
    min-height: 700px;
    position: relative;
    z-index: -2;
}

#header-img {
    width: 100%;
    position: absolute;
    height: 100% 
}

.hero-logo2 {

}


#header-logo {
    width: 150px; 
    margin-left: 50px;
}


#logo {
    margin-right: 40px;
}

#text-logo2 {
    margin-right: 19px;
}

/* Hero IMG Text */
#headertag {
    margin-right: 17px;
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    color: white;
    text-shadow: 4px 1px black;
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    text-align: center;
}

#headerparagraph {
    margin-right: 17px;
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    color: white;
    text-shadow: 4px 1px black;
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 260%);
    text-align: center;
}