/* Removal of horizontal scroll bar */
* {
    overflow-x: hidden;
}

body {
    width: 100%;
    margin: 0px;
}

/* Making the Stocks Adapt to window size */
.tradingview-widget-container {
    width: 100%;
    
}

/* Header sizing and sticky placement */
header {
    width: 100%;
    min-width: 200px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    overflow-y: hidden;
    background-color: rgb(247, 243, 243);
}

/* Placement and Styling of Nav Buttons */
nav {
    height: 50px;
}

#navlist {
    align-items: center;
    justify-content: center;
    display: flex;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    gap: 2em;
    overflow-y: hidden;
}

nav > ul > a {
    color: black;
    padding: 0.5rem;
    margin: 0 0.2rem;
    height: 100%;
    display: flex;
    align-items: center;

}

nav > ul > a:hover {
    background-color: rgba(206, 206, 206, 0.699);
    cursor: pointer;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

#hamburger-menu {
    display: none;
}

#hamburger-input {
    display: none;
}

.overlay {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: -1;
}

/* Collapsing Menu for Mobile */
@media only screen and (max-width: 600px) {
#hamburger-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    display: block;
    width: 35px;
    height: 35px;
    border: none;
    margin: 0px 15px 0px 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(
        to bottom,
        black, black 20%,
        white 20%, white 40%,  
        black 40%, black 60%,
        white 60%, white 80%, 
        black 80%, black 100%
    );
}
#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: -250px;
    width: 200px;
    height: 100%;
    background-color: rgba(248, 248, 248, 0.76);
    padding: 0px 10px;
    box-sizing: border-box;
    transition: 0.3s;
}

#sidebar-menu {
    display: flex;
    height: 100px;
    width: 100px;
    background: gray;
    margin: 0px;
    z-index: 9;
}

#sidebar-menu ul {
    max-width: 800px;
    width: 100%;
    height: 100%;
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    z-index: 9;
}

#sidebar-menu li {
    list-style-type: none;
    font-size: 30px;
}

a {
    color: black;
}

#hamburger-input {
    display: none;
}

#navlist {
    display: none;
}
#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    right: 0;
}

}

/* Hero Img Placement*/
#hero-img {
    max-height:800px;
    min-height: 700px;
    position: relative;
    z-index: -2;
}

#header-img {
    width: 100%;
    min-width: min-content;
    position: absolute;
    height: 100% 
}

#header-logo {
    width: 150px; 
    margin-left: 50px;
}


#logo {
    margin-right: 40px;
}

#text-logo2 {
    margin-right: 19px;
}

/* Hero IMG Text */
#headertag {
    margin-right: 17px;
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    color: white;
    text-shadow: 4px 1px black;
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    text-align: center;
}

#headerparagraph {
    margin-right: 17px;
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    color: white;
    text-shadow: 4px 1px black;
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 260%);
    text-align: center;
}

/* Introductory Paragraph: Powerful Forcasting */
.a-container1 {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2em;
    overflow-y: hidden;
}

.a-container2 {
    height: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: x-large;
    letter-spacing: 2px;
    display: grid;
    padding: 50px;
   
    
}

.a-container3 {
    height: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 48px;
    padding: 50px;

}

/* Universal Button */
.button1 {
    background-color: white;
    border: black;
    border-width: 1px;
    border-style: solid;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: small;
}

.button1:hover {
    background-color: rgba(206, 206, 206, 0.699);
    cursor: pointer;
}

/* Icons and Descriptors */
.b-section {
}


.b-container1  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-content: space-around;
    text-align: center;
    width: 100%;
    background-color: rgba(153, 153, 153, 0.15);
    padding-top: 60px;
    word-wrap: normal;
}

.b-container2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    justify-content: space-around;
    text-align: center;
    word-wrap: normal;
    width: 100%;
    background-color: rgba(153, 153, 153, 0.15);
    padding-top: 60px;
    padding-bottom: 60px;

}

.b-icon {
    height: 50px; 
}

/* Example Dashboard */
.dashboard {
    display: flex;
    justify-content: center;
    text-align: center;
}

.dashboard-text {
    text-align: center;
    margin-top: 50px;
    color: black;
    font-size: large;
    word-wrap: normal;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}

#dashboard-img {
    max-width: 700px;
    border-radius: 15px;
    box-shadow: 1px 1px 20px 5px gray;
    margin: 40px;
}

/* Need to see it in Action? */
.c-container-1 {
    width: 100%;
    height:200px;
    text-align: center;
    color: black;
    background-color: rgba(153, 153, 153, 0.15);
    margin-top: 50px;
}


/* How Forwards Metrics Works */
.d-container {
    width: 95%;
    height: auto;
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2em;
    overflow-y: hidden;
}

@media only screen and (max-width: 400px){
.d-container {
    margin: 0px;
    width: 90%;
}
}

#d-container-img {
    max-width: 600px;
    height: auto;
    width: 90%;
    min-width: none;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px gray;
    margin: auto;
}

.d-container3 {
    text-align: center;
    padding: 50px;   
}

.d-container-p {
    line-height: 48px;
    font-size: 15px;
    font-weight: 100;
    text-align: left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}


/* Footer */
.f-container-1 {
    width: 100%;
    height: auto;
    background-color: rgba(153, 153, 153, 0.15);
    color: black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 6em;
    padding: 0 10px 0 10px;
    align-items: center;
    justify-items: center;
}

#footer-logo {
    height: 125px;
    padding-top: 30px;
    
}

.f-container {
    line-height: 33px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding: 20px   
}

#email {
    padding: 14px;
}